body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 1em;
}

hr {
    border-bottom: 1px dashed #dedede;
 
}
h1,h2,h3,h4,h5,h6 {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#page {
    margin-top: 10px;
}
.heading {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.app-name {
    font-size: 1.3em;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 400;
}

.sidenav {
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

.search-bar {
    margin-bottom: 10px;
}

tr.selected {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
}
tr.hidden {
    display: none;
    visibility: none;
}

#alert-floating {
    position: relative;
    display: block;
}

#details {
    border-left: 1px dashed #dedede;
}

.border-left {
    border-left: 1px solid #ddd;
}

#loginpage .form-group {
    margin-top: 20px;
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}


.userbar * {
    padding: 0px 20 !important;
    font-size: 16px;
    color: #999;
}
.userbar {
    margin: 20px 0;
    border-bottom: dashed 1px #ddd;
}


.form-error {
    display: inline-block;
    margin: 6px 0;
    font-size: 16px;
}

.view-wrap {
    padding-top: 20px;
}

/* Sidebar Right */
.fa-regular {
    color: #c3d1dd;
}
.sidebar-list-group {}

.sidebar-list-group .user-box .user-icon-wrapper {
    text-align: center;
}
.large-user-icon {
    margin-bottom: 10px;
}

img.small-token {
    width: 50px;
}

.token-qty {
    font-size: 20px;
    font-weight: bold;
}

.sidebar-list-group {
    margin-bottom: 20px;
}

.icon-card {
    width: 100% !important;
}

.icon-card h5 {
    font-size: 1.2em;
    height: 40px;
}
.icon-card .card-text {
    height: 50px;
}
.icon-card:hover {
    border: 1px solid #999;
}

/* Question card */
.one-half {
    width: 49%;
    display: inline-block;
    margin-right: 1%;
}

.text-right {
    text-align: right;
}

.one-half-last {
    width: 49%;
    display: inline-block;
}

.question-card {
    margin-bottom: 10px;
}
.question-card .card-header {
    font-size: 0.8em;
    font-weight: 400;
}

.question-card .card-title a {
    text-decoration: none;
    font-size: 0.9em;
}


.question-summary-box {
    font-size: 0.7em;
}
.question-summary-box .entry {
    margin-right: 40px;
}

.light-txt {
    color: #727272;
}

.breadcrumb {
    font-size: 0.9em;
}
.breadcrumb a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.rounded-pill {
    font-weight: 300;
}

/* recent questions sidebar */
.recent-questions-sidebar {
    font-size: 0.8em;
}
.recent-questions-sidebar h5 {
    font-size: 1.3em;
}

.ask-small a {
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 300;
}

label.error {
    color: #dc3545;
    display: block;
    margin-top: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width:1600px) {
    body {
        font-size: 14px !important;
    }
}

@media screen and (max-width:1380px) {
    #details h1 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width:1200px) {
    #sidebarMenu {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main {
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
    
}

@media screen and (max-width:767px){
    .navbar-nav {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}